<nav class="col-12 right bg-soft-blue">
  <p class="m1 mr3 right inline"><%= link_to 'logout', '/logout', class: "text-decoration-none black" %></p>
  <p class="m1 right inline"><%= current_user.name %></p>
</nav>
