<section class='cover-image m0 vh100 flex flex-column'>
  <p class="ml-auto m1 bg-soft-white rounded p1">Park Login</p>
  <div class="col-12 mx-auto m4 center bg-soft-white rounded">
    <h1 class="m2">Parks and Checks</h1>
    <p><%= link_to "Sign Up/Sign In", "/auth/google", class: "text-decoration-none black"%></p>
  </div>
</section>
