<nav class="m0 col-12 bg-white fixed z2">
  <div class="ml1 left">
    <h3 class="m0"> <%= link_to "Parks And Checks", "/dashboard", class: "text-decoration-none black" %></h3>
  </div>
  <div class="mr1 right dropdown">
    <button class="dropbtn"><%= current_user.name %></button>
    <div class="dropdown-content">
      <p class="m0"><%= link_to 'profile', '/profile' %></p>
      <p class="m0"><%= link_to 'logout', '/logout' %></p>
    </div>
  </div>
</nav>
