
<section class="clear-fix">
  <div class="col-4 mx-auto center bg-soft-white rounded">
    <%= form_tag charges_path(description: @description, url: @image_url) do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <label class="amount">
          <span><h2>Donate: $5.00</h2></span>
        </label>
      </article>
      <div class="pb2">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description = "<%= @description %>"
                data-amount="500"
                data-locale="auto">
        </script>
      </div>
    <% end %>
  </div>
</section>
